
<mat-grid-list cols="4">
  <mat-grid-tile id="design-area" [colspan]="3">
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
    <div>image area</div>
  </mat-grid-tile>

  <mat-grid-tile id="info-area" [colspan]="1">
    info area
  </mat-grid-tile>
</mat-grid-list>
