nav{
  background-color: gold;
  top : 0;
  left : 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}
span#signup:hover, span#signin:hover{
  color:white;
}
span#signup {
  margin-right: 20px;
}

#facebookLogin button{
  background: #3b5998;
  color : #ffffff;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}

.demo-tab-content {
  padding: 16px;
}
.dd-title-center {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 70%;
}
.dd-search-button {
  float:right;
}
