<nav>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1">
      <h1>Design Duck</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <span *ngIf="!id">다~ 디자인덕이지!</span>
      <span *ngIf="id">{{id}}님 환영합니다</span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <span *ngIf="!id" id="signup"> 회원가입 </span>
      <span *ngIf="!id" id="signin" (click)="openSigninDialog()"> 로그인 </span>
      <span *ngIf="id" id="signout" (click)="openSigninDialog()"> 로그아웃 </span>
    </mat-grid-tile>
  </mat-grid-list>

