.container{
  margin-top : 100px;
}

.tap-group{
  border : 1px solid #e8e8e8;
}

.tab-content{
  padding: 20px;
}
.mat-tab-labels{
  justify-content: center; /* align items in Main Axis */
}


.sticky {
  position: fixed !important;
  top: 100px;
  background-color: white;
  z-index:2;
  width: 100%
}

