*{
  width: 100%;
  text-align: center;
}
button{

  width: 100px;
  height: 40px;
  background-color:gold;
  font-size: 12px;
  font-color:black;
  padding: 5px;
}
.information{
  margin:0px 120px;
  width:50%;
}
