*{
  width: 100%;
  text-align: center;
}
button{
  position:absolute;
  width: 100px;
  height: 40px;
  left: 47%;
  background-color:gold;
  font-size: 12px;
  font-color:black;
}
.information{
  margin:0px 120px;
  width:50%;
}
